body {
	background: rgb(240, 240, 240);
}
main {
	padding: 1rem 10vw;
	display: flex;
	justify-content: space-between;
  font-family: Raleway;
  font-size: 12px;
}


.main_left, .main_middle, .main_right {
    
	width: 32.3%;
}



.new-post {
	display: none;
}
.card {
	
	background: rgb(255, 255, 255);
	border: 1px solid rgb(224, 224, 224);
	
	display: flex;
	flex-direction: column;
}

.card_top {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.card_middle {
    padding: 0.5rem;
}

h6{
	font-weight: 100;
	  -webkit-margin-before: 2.33em;
}

.user-plused {
  font-size: 0.75rem;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 0.5rem;
}

.user-plused-name {
  font-weight: bold;
}

.user-plused img{
  width:35px;
  height:35px;
  margin-right: 0.5rem;
  border-radius:6px;
}

.user-holder {
  display: flex;
    margin: 0.5rem 0;
	  align-items: center;
}

.user-photo{
	width:50px;
	height:50px;
	  margin-right: 0.5rem;
	    border-radius: 25px;
}

.user-info {
  display: flex;
      font-size: 11px;
  flex-direction: column;
    justify-content: center;
	  flex-grow: 1;
}

.user-name {
  font-weight: bold;
}
.button-add-person {
  width: 35px;
  height: 30px;
  background: white;
  border: 1px solid rgb(216, 216, 216);
  
  color: lightgrey;
  text-align: center;
  border-radius: 3px;
  line-height: 24px;
  box-shadow: 1px 1px 8px -5px rgb(131, 131, 131);
}

.card_bottom{
	background-color:rgb(210, 209, 209);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.card_bottom p{
  padding: 0.5rem;
  
}

.photo-commenter img{

  width:35px;
  height:35px;
  margin-right: 0.5rem;

}

.comments{
  display: flex;
  flex-direction: column;
}

.comment{
  display: flex;
  flex-grow: 1;
}

.username-commentor{
  font-weight: bold;
  font-size: 11px;
}

.time-comment{
  font-size: 11px;
  color:gray;
}

.card_middle img{

  max-width: 100%;
}

.button-add-person img{
  width: 80%;
  height: 80%;
}