main{
	display: flex;
	flex-direction: column;
	padding: 3rem 10vw;
}

.header{
	width: 100%;
	display: flex;
	background: grey;
	border-radius: 40px;
	overflow: hidden;
	height: 50vh;
}

.profile-info{
	display: flex;
	flex-direction: column;
	width: 30%;
	justify-content: center;
	align-items: center;
	background: #323232;
	color: #fff;
}
.user-photo {
	width: 100px;
	height: 100px;
	margin-right: 0.5rem;
	border-radius: 50px;

}
.username {
	font-size: 1.5rem;
	margin-top: 0.5rem;
}
.profile-bg {
	width: 70%;
	height: auto;
}
.uni-city {
	margin: 0.5rem 0;
	font-size: 0.8rem;
	text-align: center;
}

.more-info{
	display: flex;
	justify-content: space-between;

}

.more-left, .more-middle, .more-right {
	width: 32.3%;
}
.card{
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 34px;
	height: auto;
	margin-top: 15px;
	padding: 0.5rem;
	border-top: 0.45rem solid black;
	
}

.orange{
	border-top: 0.45rem solid orange;
}

.blue{
	border-top: 0.45rem solid blue;
}
.green{
	border-top: 0.45rem solid green;
}

.red{
	border-top: 0.45rem solid #E46F61;
}

.red2{
	border-top: 0.45rem solid #BC5679;
}

.blue2{
	border-top: 0.45rem solid #6F85BF;
}
.card-content {
	margin: 10px;
	display: flex;
	flex-direction: column;
}


.card-item {
	display: flex;
}

.photos{
	display: flex;
	flex-direction: column;
}

.title{
	font-size: 20px;
	font-family: raleway, "droid sans";
	margin: 10px;
}

.circle-photo img{
	width: 48px;
	height: 48px;
}

.inYourCircle{
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	padding-bottom: 5px;
	padding-top: 5px;
}

.inYourCircle span{
	color: grey;
	text-align: right;
	vertical-align: right;
	font-weight: lighter;
}

.subtitle{
	font-weight: bold;
}

.subtitle-line {
	width: 100px;
}

.subtitle-underline {
	border-bottom: 1px solid grey;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.answer{
	color: grey;
	padding-bottom: 30px;
}

.answer span{
	font-weight: bold;
	color: black;
}

.edit{
	padding-left: 10px;
	color: blue;
}