main{
	display: flex;
flex-direction: column;
}
.header{
width: 100%;
display: flex;
background: grey;
border-radius: 20px;
overflow: hidden;
height: 50vh;
}

.profile-info{
display: flex;
flex-direction: column;
width: 30%;
justify-content: center;
align-items: center;
background: #323232;
color: #fff;
}
.user-photo {
   width: 100px;
   height: 100px;
   margin-right: 0.5rem;
   border-radius: 50px;

}
.username {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.profile-bg {
	width: 70%;
	height: auto;
}
.uni-city {
    margin: 0.5rem 0;
    font-size: 0.8rem;
    text-align: center;
}

.more-info{
	display: flex;

}

.more-left, .more-middle, .more-right {
	width: 32.3%;
}
.card{
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 17px;
	height: auto;
	margin-top: 15px;
	padding: 0.5rem;
	margin-right: 15px;

}

.photos{
	display: flex;
	flex-direction: column;
}
.title{
	font-size: 20px;
	font-family: raleway, "droid sans";
	margin: 10px;
}

.circle-photo img{
	width: 48px;
	height: 48px;
}