.items{
	display: flex;
}

.name{
	font-weight: bold;
}

.uni{
	color: grey;
}
.item{
	width: 16%;
	height: 20%;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 0.5rem 0;
}
.item img {
	width: 100%;
}
.item div {
	padding: 0.1rem 0.5rem;
} 
.friends{
	margin-top: 5px;
}

.item button {
  margin: 7px;
  background-color: white;
  border-style: none;
  border: 1px solid #B1B1B1;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item button img {
  height: 1.7rem;
  width: 1.7rem;
  margin-right: 0.5rem;
}
