main{
	padding: 3rem 10vw;
}
.items{
	display: flex;
}

.name{
	font-weight: bold;

}

.name:hover{
	color: blue;
	text-shadow: 4px 3px 1px #949494;
}
.uni{
	color: grey;
}
.item{
	width: 16%;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 0.5rem 0;
}
.item img {
	width: auto;
	height: 170px;
}
.item div {
	padding: 0.1rem 0.5rem;
} 
.friends{
	margin-top: 5px;
	flex-grow: 1;
	font-weight: bold;
}

.friends span{
	font-weight: lighter;
	color: gray;
}

.item button {
	margin: 7px;
	background-color: white;
	border-style: none;
	border: 1px solid #B1B1B1;
	border-radius: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.item button img {
	height: 1.7rem;
	width: 1.7rem;
	margin-right: 0.5rem;
	vertical-align: middle;
}

.item button span {
	vertical-align: middle;
}

.title{
	
	padding-top: 10px;
	font-size: 22px;
}
.maintitle{
	width: 100%;
}